@charset 'UTF-8';

@media screen and (min-width:768px) and (max-width:992px) {
    section#login {
        background-color: rgba(177, 189, 189, 0.274);
        width: 40vw;
        height: 70vh;
        margin: auto;
        margin-top: 100px;
        margin-right: 10px;
        overflow: hidden; 
    }
}  
    














@media screen and (min-width:992px){
    
#login{
    display: block;
    background-color: rgba(177, 189, 189, 0.274);
    width: 40vw;
    height: 70vh;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;   
 
}

p{
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    font-size: x-large;
    
}

html{
    background-position: center;
}
}